# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars
*.tfvars.json

# Except example files which are meant to be shared
!*.tfvars.example

# Include override files you wish to add to version control
# !override.tf
# !override.tf.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore lock files for examples
examples/**/.terraform.lock.hcl

# Ignore macOS system files
.DS_Store

# Logs
*.log

# Local environment files
.env
.env.local

# Editor directories and files
.idea
.vscode
*.swp
*.swo 